{{!-- {{>header}} --}}
{{#each team}}
<div class="img-col1">
    <h2 class="footballTitle">{{name}}</h2>
    <a href="/sports/{{../sport}}/{{id}}"><img class="center" src="{{image}}"></a>
</div>
{{/each}}