<div class="main-content">
  <div class="img-row1">
    <div class="img-col1">
      <h2 class="sportTitle">Football</h2>
      <a href="">
        <img src="/images/homePage/soccerball.svg" class="center" alt="">
      </a>
    </div>
    <div class="img-col1">
      <h2 class="sportTitle">Rugby</h2>
      <a>
        <img src="/images/homePage/rugbyball.png" class="center" alt="">
      </a>
    </div>
  </div>
  <div class="img-row2">
    <div class="img-col1">
      <h2 class="sportTitle">Basketball</h2>
      <a>
        <img
          src="/images/homePage/basketballball.png"
          class="center" alt="">
      </a>
    </div>
    <div class="img-col1">
      <h2 class="sportTitle">Ice Hockey</h2>
      <a>
        <img
          src="/images/homePage/icehockeypuck.png"
          class="center" alt="">
      </a>
    </div>
  </div>