<div>
    <div>
      <ul>
        <li><a><img src="https://images-na.ssl-images-amazon.com/images/I/61F-Epj6A9L._SL1104_.jpg"></a></li>
        <li><a><img src="https://www.japan-guide.com/g19/740/rugby.jpg"></a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a><img src="https://i5.walmartimages.com/asr/0f9285e2-00c7-442e-aeff-cee1cca483de_1.43e5d5da143907b8c3329525d9a44a08.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff"></a></li>
        <li><a><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Ice_hockey_puck_-_2.jpg/1280px-Ice_hockey_puck_-_2.jpg"></a></li>
      </ul>
    </div>
  </div>